.container__quick-order {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 72%;
  padding: 10px;
  border-radius: 8px;
  margin: 15px auto 15px auto;
}
.title__quick-order {
  text-align: center;
} 
.form__quick-order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.label__quick-order {
  font-weight: 600;
  border-bottom: 2px solid rgb(244, 126, 8);
  padding-bottom: 2px;
}
.button__quick-order {
  background-color: rgba(0, 106, 255, 0.854);
  padding: 7px;
  border-radius: 4px;
  color: white;
  border: none;
}
.button__quick-order:hover {
  cursor: pointer;
  opacity: 0.8;
}
.notFound__quick-order {
  color: red;
  font-weight: 300;
  text-align: center;
}